/* You can add global styles to this file, and also import other style files */


.primary-text {
  color: black;
  line-height: 1.5;
  font-size: .7em;
}

.secondary-text {
  color: black;
  line-height: 2;
  font-size: .5em;
}

.alert-text {
  color: red;
  line-height: 1;
  font-size: x-small;
}